@font-face {
  font-family: 'Mulish';
  src: url('./assets/fonts/Mulish-Italic-VariableFont_wght.ttf')
    format('truetype');
  font-weight: 400;
  font-style: italic; /* Устанавливаем italic */
}

@font-face {
  font-family: 'Mulish';
  src: url('./assets/fonts/Mulish-VariableFont_wght.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: 'Mulish', sans-serif;
}
